#==========================================================================
# Copyright 2024 IHP PDK Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# SPDX-License-Identifier: Apache-2.0
#==========================================================================

name: DRC

on: push

jobs:
    drc:
        runs-on: ubuntu-latest
        steps:
            -   name: Install IHP_Open_DesignLib
                uses: actions/checkout@master
            -   name: Check all files
                id: changed-files
                uses: tj-actions/changed-files@v44
            -   name: Installing Klayout
                run: |
                    sudo apt update -qq -y
                    wget https://www.klayout.org/downloads/Ubuntu-22/klayout_0.29.0-1_amd64.deb
                    # The dpkg command will fail complaining about missing dependencies.
                    sudo dpkg -i ./klayout_0.29.0-1_amd64.deb || true
                    # The apt install command should install the missing dependencies
                    # needed by KLayout above and finish the install.
                    sudo apt install -f -y
                    # Check that KLayout was successfully installed!
                    klayout -v
            -   name: Install IHP_Open_PDK
                uses: actions/checkout@master
                with:
                    repository: IHP-GmbH/IHP-Open-PDK
                    ref: dev
                    path: Open-PDK
            -   name: drc
                run: |
                    klayout -v;
                    export KLAYOUT_HOME=${{ github.workspace }}/Open-PDK/${{ vars.KLAYOUT_HOME }} klayout;
                    result=true;
                    for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
                        FileRe="FMD_QNC.*\.gds"
                        if [[ $file =~ $FileRe ]]; then 
                            echo "Run DRC for $file";
                            path=${{ github.workspace }}/${file};
                            OUTPUT=$(klayout -b -r ${{ github.workspace }}/Open-PDK/${{ vars.DRC }} -rd "in_gds"="${path}")

                            re="Number of DRC errors: [0-9]+"
                            if [[ $OUTPUT =~ $re ]]; then
                                echo ${BASH_REMATCH};
                                NumberRe="[0-9]+"
                                if [[ $BASH_REMATCH =~ $NumberRe ]]; then 
                                    if (($BASH_REMATCH == 0))
                                    then 
                                        echo "DRC pass";
                                    else
                                        echo "DRC fail";
                                        result=false;
                                    fi
                                else 
                                    echo "DRC fail";
                                    result=false;
                                fi
                            else
                                echo "DRC fail";
                                result=false;
                            fi
                        fi
                    done
                    if [[ $result == false ]]
                    then 
                        exit 130 
                    fi